[Unit]
Description=GOPHER Daemon

[Service]
User=service
Environment=GOPHERD_P2P_LADDR=tcp://0.0.0.0:26666
Environment=GOPHERD_RPC_LADDR=tcp://0.0.0.0:26667
Environment=GOPHERD_GRPC_ADDRESS=0.0.0.0:26668
Environment=GOPHERD_API_ADDRESS=tcp://0.0.0.0:26669
Environment=GOPHERD_P2P_PERSISTENT_PEERS=""
Environment=GOPHERD_P2P_SEEDS="e0a4a0704bbe72d252c541fa7a0da04e7400f589@tenderseed.ccvalidators.com:29059"
LimitNOFILE=4096
ExecStart=/usr/local/bin/gopherd start --home /home/service/.gopher --x-crisis-skip-assert-invariants --grpc-web.enable="false" --grpc.enable="true" --rpc.pprof_laddr localhost:16006 --state-sync.snapshot-interval 500 --state-sync.snapshot-keep-recent 1 --pruning nothing
Environment=GOPHERD_LOG_LEVEL=info

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target